/* basic reset */
* {
    margin: 0;
    padding: 0;
}

/**
* ------------------------------------------------------------------------------------------------------
* Main
* ------------------------------------------------------------------------------------------------------
*/

@font-face{
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-L.ttf')  format('truetype');
}

body {
    font-family: "Ubuntu";
    line-height: 1.2;
    font-size: 12px;
}

#content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 58px;
    text-align: center;
    margin-bottom: 60px;
    padding: 20px 0;
    background: #EEEEEE;
    font-weight: 100;
}

/**
* ------------------------------------------------------------------------------------------------------
* Controls
* ------------------------------------------------------------------------------------------------------
*/

canvas {
    margin: 0 auto;
}

/**
* ------------------------------------------------------------------------------------------------------
* Configuration
* ------------------------------------------------------------------------------------------------------
*/

#configuration {
    clear: both;
    text-align: center;
}

#configuration input[type=text] {
    width: 75px;
}

#btnChangePort, #fldCustomSerialPort, #btnExitApp {
    padding: 3px;
    margin-bottom: 10px;
}

#btnExitApp {
    margin-left: 10px;
    width: 50px;
}
