/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1; /* trigger hasLayout (for IE7) */
    _display: inline-block; /* IE6 ONLY */
}